<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("head") %>
  </head>
  <body>
    <header><%- include("header") %></header>
    <main>
      <% for (let i = 0; i< estadios.length; i++) { %>
      <div class="estadio">
        <div class="card text-bg-dark">
          <img src="<%= estadios[i].imagen%>" class="foto-estadio" alt="">
          <div class="card-img-overlay">
            <h5 class="card-title"><%= estadios[i].nombre%></h5>
            <p class="card-text">Capacidad: <%= estadios[i].capacidad%></p>
            <p class="card-text"><small></small></p>
          </div>
        </div>
      </div>
      <% } %>
      <footer><%- include('footer') %></footer>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>
    </main>
  </body>
</html>


