    <!--Estos 3 inputs son los que controlan el popup de login/registro, deben colocarse aqui para que funcionen de forma global-->
    <input
      class="cajitaOculta"
      type="radio"
      id="nada"
      name="Usuario"
      value="nada"
      checked
    />
    <input
      class="cajitaOculta"
      type="radio"
      id="login"
      name="Usuario"
      value="login"
    />
    <input
      class="cajitaOculta"
      type="radio"
      id="registro"
      name="Usuario"
      value="registro"
    />
    <!-- LOGIN Y REGISTRO OCULTOS los deje por debajo de todo lo demas para que no interrumpa el resto del html-->
    <div class="loginOculto ocultos">
      <div class="UsuarioFormulario">
        <div class="formBarra">
          <h5>INGRESAR!</h5>
          <label for="nada">X</label>
        </div>

        <form class="FormInputs" action="/login" method="POST">
          <label for="correo">Email: </label>
          <input type="correo" name="correo" id="correo" value="<%= locals.old && old.correo ? old.correo : '' %>"/>
          <br />
          <label for="contrasena">Contraseña: </label>
          <input type="password" name="contrasena" id="contrasena" />
          <br />

          <div>
              <label for="recordarme">Recordarme:</label>
              <input type="checkbox" id="recordarme" />
          </div>
          <br />
          <br />
          <button type="submit">Ingresar</button>
      </form>
      </div>
      <div class="imagenLoginRegistro">
        <img src="https://dhgrupo12ad.alwaysdata.net/ImagenLoginRegistro.jpg" />
      </div>
    </div>

    <div class="registroOculto ocultos">
      <div class="UsuarioFormulario">
        <div class="formBarra">
          <h5>REGISTRARSE!</h5>
          <label for="nada">X</label>
        </div>

        <form class="FormInputs" action="/registro" method="POST" enctype="multipart/form-data">
          <label >Nombre: </label>
          <input type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : ''%>" />
          <br />
          <label>Apellido: </label>
          <input type="text" name="apellido" id="apellido" value="<%= locals.old && old.apellido ? old.apellido : ''%>"/>
          <br />
          <label >Correo: </label>
          <input type="email" name="correo" id="correo" value="<%= locals.old && old.correo ? old.correo : ''%>"/>
          <br />
          <label >Telefono: </label>
          <input type="tel" name="telefono" id="telefono" value="<%= locals.old && old.telefono ? old.telefono : ''%>"/>
          <br />
          <label >Fecha de nacimiento: </label>
          <input type="date" name="nacimiento" id="nacimiento" value="<%= locals.old && old.nacimiento ? old.nacimiento : ''%>"/>
          <br />
          <label >Contraseña: </label>
          <input type="password" name="contrasena" id="contrasena"/>
          <br />
          <br />
          <label>Imagen de perfil: </label>
          <input type="file" name="imagen" id="imagen"/>  
          <br />
          <br />

          <div>
            <label for="aceptarTerminos"
              >Acepto los terminos y condiciones:</label
            >
            <input type="checkbox" id="aceptarTerminos" name="aceptarTerminos" />
          </div>
          <br />
          <br />
          <button type="submit">Registrarse</button>
        </form>
      </div>
      <div class="imagenLoginRegistro">
        <img src="https://dhgrupo12ad.alwaysdata.net/ImagenLoginRegistro.jpg" />
      </div>
    </div>

    <div class="difuminadorTotal">
      <label for="nada"></label>
    </div>
    <!--FIN DE LOGIN Y REGISTRO OCULTOS-->
