<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %>
</head>

<body>
    <%- include("header") %>
        <body>
            <%if(locals.errors){ errors.forEach(error=> { %>
                <p>
                    <%= error.msg %>
                </p>
                <%}) }%>
            <form class="FormInputs" action="/login" method="POST">
                <label for="correo">Email: </label>
                <input type="correo" name="correo" id="correo" value="<%= locals.old && old.correo ? old.correo : '' %>"/>
                <br />
                <label for="contrasena">Contraseña: </label>
                <input type="password" name="contrasena" id="contrasena" />
                <br />

                <div>
                    <label for="recordarme">Recordarme:</label>
                    <input type="checkbox" id="recordarme" />
                </div>
                <br />
                <br />
                <button type="submit">Ingresar</button>
            </form>
        </body>

     <%- include('footer') %>
</body>

</html>